
#backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px 20px;
  background-color: #ff8cd1;
  color: #0c0b34;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 1000;
}

#backToTop.show {
  opacity: 1;
}

/* Inspiration SECTION */
#inspiration-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 80px; 
    box-sizing: border-box;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 250px;
    align-content: top;
}

#inspiration-section .section-heading h2 {
    font-weight: bold;
    font-size: 7rem; 
    margin-bottom: 50px;
    margin-top: 5px;
    color:  white;
}

#inspiration-section .section-heading h3 {
    font-weight: bold;
    font-size: 5rem; 
    margin-bottom: 10px;
    margin-top: 100px;
    margin-left:70px;
    color:#ff8cd1;
    text-align: justify;
    max-width: 90%;
}

/* SHAPE VIDEO */
.shapes-container {
  width: 90vw; 
  margin: 0; 
  position: relative;
  overflow: hidden;
  border-radius: 0;
  margin-left: 100px;
  margin-bottom: 200px;
  margin-top: 50px;
}

.shapes {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


/* Good UI SECTION */
#good-ui-section {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 80px;
    box-sizing: border-box;
    margin-left: 90px;
    margin-top: 400px;
}

#good-ui-section .section-heading h3 {
    font-weight: bold;
    font-size: 7rem;
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: 100px;
    color: white;
}

#good-ui-section p2 {
  font-size: 2rem;
  max-width: 90%;
  margin-bottom: 20px;
  margin-left: 100px;
  max-width: 70%
  line-height: 1.2;
  color: white;
  text-align: center;
}

#good-ui-section p {
    font-size: 1.5rem;
    max-width: 90%;
    margin-left: 45px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: white;
    text-align: justify;
}

#good-ui-section .section-heading h4 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 10px; 
    margin-top: 20px;
    color: white;
    margin-left: 45px;
}

.point-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 100px; 
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    margin-left: 80px;
    margin-right: 150px;
    margin-top: 100px;
  }
  
  .point-box {
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #ff8cd1; 
    font-size: 1.5rem;
    text-align: left;
    color: white; 
  }
  
  #good-ui-section p3 {
    font-size: 1.5rem;
    margin-left: 50px;
    margin-bottom: 60px;
    line-height: 1.5;
    text-align: justify;
    font-style: italic
}



/* compare & contrast SECTION */
#compare-contrast-section {
  min-height: 100vh;       
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top:500px;
}

#compare-contrast-section .section-heading h3 {
    font-weight: bold;
    font-size: 7rem; 
    margin-bottom: 80px; 
    margin-top: 200px;
    color: white;
    margin-left: 20px;
    text-align: center;
}

#compare-contrast-section p2 {
  font-size: 2rem;
  line-height: 1.2;
  color: white; 
  text-align: center;
  margin-left: 20px;
  margin-bottom: 50px;
  max-width: 75%;
}

#compare-contrast-section p3 {
  font-size: 2rem;
  line-height: 1.2;
  color: #ff8cd1;
  text-align: center;
  margin-bottom: 80px;
}

#compare-contrast-section p4 {
  font-size: 2rem;
  line-height: 1.2;
  color: white; 
  text-align: justify;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 50px;
}


#compare-contrast-section p {
    font-size: 1.5rem;
    line-height: 1.3;
    color: white; 
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.comparison-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARDS */
.card-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
}

/* BLURBS */
.blurb-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: none; 
}

.blurb-container.left {
  right: 100%;
  margin-right: 10px;
  align-items: center;
}

.blurb-container.right {
  left: 100%;
  margin-left: 10px;
  align-items: flex-start;
}

.blurb {
  background: #030241;
  border: 2px solid #ff8cd1;
  border-radius: 15px;
  font-size: 1rem;
  padding: 10px 10px;
  width: 220px;      
  opacity: 0;
  margin-bottom: 50px;
  transition: opacity 0.3s ease;
  display: flex;              
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 1.2;
  word-wrap: break-word;
  white-space: normal;  
}

.card-wrapper.before:hover .blurb-container.left .blurb,
.card-wrapper.after:hover .blurb-container.right .blurb {
  opacity: 1;
}
  
.card {
  padding: 2vw;
  width: 40vw;              
  max-width: 700px;         
  height: auto;       
  text-align: left;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

  .card:hover {
    transform: translateY(-5px);
  }
  

  .card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 15px;
  }
  
  @media screen and (max-width: 768px) {
    .card-wrapper {
      margin: 20px 0; /* stack with space between vertically */
      flex-direction: column;
      align-items: center;
    }
  
    .blurb-container.left,
    .blurb-container.right {
      display: none; /* hide blurbs on small screens */
    }
  }



/* Resources SECTION */
#resources-section {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  box-sizing: border-box;
  margin-top: 600px;
  text-align: left;
}

#resources-section .section-heading h2 {
  font-weight: bold;
  font-size: 7rem; 
  margin-bottom: 50px; 
  margin-left: 260px;
  margin-top: 150px;
  color: white;
  text-align: left;
}

#resources-section p {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 260px;
  line-height: 1.2;
  color: white; 
  max-width: 80%;
}

#resources-section h3 {
  font-weight: bold;
  font-size: 5rem; 
  margin-bottom: 10px; 
  margin-left: 950px;
  margin-top: 50px;
  color: white;
  text-align: center;
}

#resources-section h4 {
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 10px; 
  margin-left: 880px;
  margin-top: 50px;
  color: white;
  text-align: center;
}

/* IMAGE LINKS */
.inspo-row {
  display: flex;
  gap: 450px; 
  justify-content: center; 
  align-items: center;    
  flex-wrap: wrap;    
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 280px;
  max-width:100%;
}

  .tools-row {
    display: flex;
    gap: 60px; 
    justify-content: center; 
    align-items: center;   
    flex-wrap: wrap;    
    margin-top: 50px;
    margin-left: 260px;
    max-width:100%;
  }

.linked-image {
  width: 350px; 
  height:450px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
  
  .linked-image:hover {
    transform: scale(1.05);
  }
  
  .linked-image-2 {
    width: 350px;
    height:450px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .linked-image-2:hover {
    transform: scale(1.05); 
  }

  .linked-image-3 {
    width: 350px; 
    height:450px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .linked-image-3:hover {
    transform: scale(1.05); 
  }
  
  .linked-image-4 {
    width: 350px;
    height:450px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .linked-image-4:hover {
    transform: scale(1.05); 
  }
  
  .linked-image-5 {
    width: 350px;
    height:450px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .linked-image-5:hover {
    transform: scale(1.05); 
  }
  
  .linked-image-6 {
    width: 350px;
    height:450px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .linked-image-6:hover {
    transform: scale(1.05);
  }
  
  .linked-image-7 {
    width: 350px; 
    height:450px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .linked-image-7:hover {
    transform: scale(1.05); 
  }
  
  .linked-image-8 {
    width: 350px; 
    height:450px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .linked-image-8:hover {
    transform: scale(1.05); 
  }
  